@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    margin: 0;font-family: 'Jost', sans-serif;
}
header{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 30px;
}
.main-cont{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: white;
    height: 200px;
    width: 500px;
    border-radius: 20px;
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: white;
    color: black;
}
#inputFahrenheit{
    height: 40px;
    width: 200px;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: white;
    color: black;
    border: none;
}
.res{
    font-size: larger;
    color: black;
}
.get{
    font-size: larger;
}